<ion-view view-title="Campo de Batalla">
  	<canvas id="field" class="field" style="width: 100%;"></canvas>
  	<div class="row">
	  <div class="col"><a href="#/profile" class="button button-block icon-right ion-android-exit button-assertive">Salir</a></div>
	  <div class="col"><button ng-click="fire()" class="button button-block icon-right ion-android-radio-button-on button-positive">Lanzar</button></div>
	  <div class="col"><a href="#/myfield" class="button button-block icon-right ion-android-boat button-balanced">Mis Naves</a></div>
	</div>
</ion-view>
